/* Navbar.module.css */
.navbar {
    background-color:green;
    padding: 10px 20px;
    height: 80px;  /* Set a fixed height for the navbar */
    display: flex;
    justify-content: space-around; /* Optional, if you want space between items */
    align-items: center;  /* Center align the content vertically */
  
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navLink:hover {
    background-color: #555;
  }